<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h1 class="leyenda">Menu</h1>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Bienvenido a la seccion de terapia</ion-title>
</ion-content>
